<div class="login-container">

    <div class="logo">📝 To-Do List</div>

    <div class="logo-todo">

        <svg viewBox="0 0 48 48" version="1" xmlns="http://www.w3.org/2000/svg" enable-background="new 0 0 48 48">
            <g fill="#3F51B5">
                <polygon points="17.8,18.1 10.4,25.4 6.2,21.3 4,23.5 10.4,29.9 20,20.3"/>
                <polygon points="17.8,5.1 10.4,12.4 6.2,8.3 4,10.5 10.4,16.9 20,7.3"/>
                <polygon points="17.8,31.1 10.4,38.4 6.2,34.3 4,36.5 10.4,42.9 20,33.3"/>
            </g>
            <g fill="#90CAF9">
                <rect x="24" y="22" width="20" height="4"/>
                <rect x="24" y="9" width="20" height="4"/>
                <rect x="24" y="35" width="20" height="4"/>
            </g>
        </svg>


    </div>

    <!--<form (ngSubmit)="onSubmit($event)"> -->

    <form>
        <div class="input-section">

            <div class="input-group">

                <input type="email" placeholder="Email" required />

            </div>

            <div class="input-group">

                <input type="text" placeholder="Full Name" required />

            </div>

            <div class="input-group">

                <input [type]="showPassword ? 'text' : 'password'" id="login-password" placeholder="Password" required   />
                <span class="toggle-password" (click)="togglePassword()">👁️</span>
                <span *ngIf="showPassword" style="color: red;">Hide the password </span>
            </div>

            <div class="input-group">

                <input [type]="showConfirmPassword ? 'text' : 'password'" id="login-password" placeholder="Confirm Password" required   />
                <span class="toggle-password" (click)="toggleConfirmPassword()">👁️</span>
                <span *ngIf="showConfirmPassword" style="color: red;">Hide the password </span>
            </div>


            <button type="submit" (click)="submit()">Login</button>

            <div class="link-login">

                <!--<label>Have an account? <span><a href="login">Login</a></span></label>-->

                <label>Have an account? <span (click)="redirectToRegister('login')">Login</span></label>


            </div>


        </div>
    </form>

</div>



